/* App.css */
.bookcard-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px; /* Radius.SMALLの値 */
    background-color: #FFFFFF; /* Color.MONO_Aの値 */
    max-width: 192px;
    border: 1px solid #D3D3D3; /* Color.MONO_30の値 */
  }
  
  .bookcard-imgWrapper img {
    border-radius: 8px 8px 0 0; /* Radius.SMALLの値 */
  }
  
  .bookcard-avatarWrapper img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }