.viewer {
  width: 100%;
}

/* 708以下で、page 1枚 */
@media (max-width: 708px) {
  .viewer {
    aspect-ratio: 1075 / 1518;
  }
}
/* 709移譲で、page 2枚 */
@media (min-width: 709px) {
  .viewer {
    aspect-ratio: 2150 / 1518; /* MIN_VIEWER_HEIGHTの仮定値 */
  }
}